<template>
    <div>
        <base-header type="gradient-primary" class="pb-6 pb-8 pt-5 pt-md-8">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <stats-card title="User Count"
                                type="gradient-red"
                                :sub-title="cardStats.usersCount|formatNumber"
                                icon="ni ni-single-02"
                                class="mb-4 mb-xl-0">
                    </stats-card>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <stats-card title="Place Count"
                                type="gradient-orange"
                                :sub-title="cardStats.placesCount|formatNumber"
                                icon="ni ni-square-pin"
                                class="mb-4 mb-xl-0">
                    </stats-card>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <stats-card title="Comment Count"
                                type="gradient-green"
                                :sub-title="cardStats.commentsCount|formatNumber"
                                icon="ni ni-chat-round"
                                class="mb-4 mb-xl-0">
                    </stats-card>

                </div>
            </div>
        </base-header>
    </div>
</template>
<script>
    // Charts
    import * as chartConfigs from '@/components/Charts/config';

    export default {
        data() {
            return {
                cardStats: {
                    usersCount: 0,
                    commentsCount: 0,
                    placesCount: 0,
                },
                bigLineChart: {
                    allData: [
                        [0, 20, 10, 30, 15, 40, 20, 60, 60],
                        [0, 20, 5, 25, 10, 30, 15, 40, 40]
                    ],
                    activeIndex: 0,
                    chartData: {
                        datasets: [],
                        labels: [],
                    },
                    extraOptions: chartConfigs.blueChartOptions,
                },
                redBarChart: {
                    chartData: {
                        labels: ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                        datasets: [{
                            label: 'Sales',
                            data: [25, 20, 30, 22, 17, 29]
                        }]
                    }
                }
            };
        },
        methods: {
            initBigChart(index) {
                let chartData = {
                    datasets: [
                        {
                            label: 'Performance',
                            data: this.bigLineChart.allData[index]
                        }
                    ],
                    labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                };
                this.bigLineChart.chartData = chartData;
                this.bigLineChart.activeIndex = index;
            }
        },
        filters: {
            formatNumber(value) {
                return value.toLocaleString();
            }
        },
        mounted() {
            this.initBigChart(0);
        },
        beforeMount() {
            this.axios
                .get('/dashboard')
                .then(({data}) => {
                    this.cardStats.usersCount = data.users_count;
                    this.cardStats.commentsCount = data.comments_count;
                    this.cardStats.placesCount = data.places_count;
                });
        }
    };
</script>
<style></style>
