<template>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-3">
                    <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                    <div class="btn-wrapper text-center">
                        <a :href="github_link" class="btn btn-neutral btn-icon">
                            <span class="btn-inner--icon"><img src="img/icons/common/github.svg"></span>
                            <span class="btn-inner--text">Github</span>
                        </a>
                        <a :href="google_link" class="btn btn-neutral btn-icon">
                            <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                            <span class="btn-inner--text">Google</span>
                        </a>
                    </div>
                    <slide-up-down :active="waitingSPA" :duration="1000">
                        <div class="row pt-4">
                            <div class="col-12 text-center">
                                <scale-loader :loading="true" margin="3px" color="#172b4d" :size="'10px'"/>
                            </div>
                        </div>
                    </slide-up-down>
                    <div class="invalid-feedback text-center pt-3 pr-2" style="display: block; cursor: pointer;"
                         @click="error = ''" v-if="error">
                        {{ error }}
                    </div>
                </div>
                <slide-up-down :active="!waitingSPA" :duration="1000">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Or sign in with credentials</small>
                        </div>
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        addon-left-icon="ni ni-email-83"
                                        v-model="model.email"
                                        @focus="resetError('email')"
                                        :valid="modelErrors.email.bool"
                                        :error="modelErrors.email.text">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Password"
                                        type="password"
                                        addon-left-icon="ni ni-lock-circle-open"
                                        v-model="model.password"
                                        @focus="resetError('password')"
                                        @keydown="enterLogin"
                                        :valid="modelErrors.password.bool"
                                        :error="modelErrors.password.text">
                            </base-input>

                            <div class="text-center">
                                <base-button type="primary" class="my-4" @click="login">Sign in</base-button>
                            </div>
                        </form>
                    </div>
                </slide-up-down>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="#" class="text-light"><small>Forgot password?</small></a>
                </div>
                <div class="col-6 text-right">
                    <router-link to="/register" class="text-light"><small>Create new account</small></router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'login',
        data() {
            return {
                model: {
                    email: '',
                    password: ''
                },
                modelErrors: {
                    email: {
                        bool: undefined,
                        text: undefined,
                    },
                    password: {
                        bool: undefined,
                        text: undefined,
                    },
                },
                error: '',
                waitingSPA: false,
            }
        },
        computed: {
            github_link() {
                const baseURL = process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_URI_DEV : process.env.VUE_APP_API_URI_PROD;
                return `${baseURL}/login-with-github-redirect`;
            },
            google_link() {
                const baseURL = process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_URI_DEV : process.env.VUE_APP_API_URI_PROD;
                return `${baseURL}/login-with-google-redirect`;
            },
        },
        methods: {
            enterLogin(data) {
                if (data.key === 'Enter') this.login();
            },
            resetError(model) {
                this.modelErrors[model] = {
                    bool: undefined,
                    text: undefined,
                };
            },
            login() {
                const data = {
                    email: this.model.email,
                    password: this.model.password,
                    device_name: 'Backoffice Web Client',
                };

                this.axios.post('/auth/login', data)
                    .then(async (data) => {
                        const {data: {token}} = data;
                        this.$store.commit('setAccessToken', token);

                        await this.getCurrentUserData();
                    })
                    .catch(reason => {
                        const {response: {data: {errors}}} = reason;

                        Object.keys(errors)
                            .forEach(key => {
                                const data = errors[key];

                                this.modelErrors[key] = {
                                    bool: false,
                                    text: data[0],
                                };
                            });
                    })
            },
            async getCurrentUserData() {
                return this.axios.get('/user/me')
                    .then(({data}) => {
                        this.$store.commit('setUserInfos', data);

                        this.$router.push('dashboard');
                    });
            },
        },
        async beforeMount() {
            if (this.$route.query.state && this.$route.query.code && this.$route.query.scope) {
                this.waitingSPA = true;
                await this.axios.get('/auth/login-with-google', {params: this.$route.query})
                    .then(async (data) => {
                        const {data: {token}} = data;
                        this.$store.commit('setAccessToken', token);

                        await this.getCurrentUserData();
                    })
                    .catch(reason => {
                        if (reason.response.data && reason.response.data.errors) {
                            const {response: {data: {errors}}} = reason;

                            if (errors.google_error) this.error = errors.google_error[0];
                        }
                    })
                    .finally(() => {
                        this.waitingSPA = false;
                    })
            } else if (this.$route.query.code && this.$route.query.state) {
                this.waitingSPA = true;
                await this.axios.get('/auth/login-with-github', {params: this.$route.query})
                    .then(async (data) => {
                        const {data: {token}} = data;
                        this.$store.commit('setAccessToken', token);

                        await this.getCurrentUserData();
                    })
                    .catch(reason => {
                        if (reason.response.data && reason.response.data.errors) {
                            const {response: {data: {errors}}} = reason;

                            if (errors.github_error) this.error = errors.github_error[0];
                        }
                    })
                    .finally(() => {
                        this.waitingSPA = false;
                    })
            }
        }
    }
</script>
<style>
</style>
