<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row w-100">
                    <div class="col-lg-9 col-md-10">
                        <h1 class="display-2 text-white">{{place.name}} - {{place.place_type.name}}</h1>
                        <p class="text-white mt-0 mb-5">{{place.description}}</p>
                        <a v-if="place.email" :href="'mailto:' + place.email" class="d-inline-block mb-2 mr-2 align-top"
                           target="_blank">
                            <base-button type="default" icon="fas fa-envelope">Email</base-button>
                        </a>
                        <a v-if="place.phone" :href="'telto:' + place.phone" class="d-inline-block mb-2 mr-2 align-top"
                           target="_blank">
                            <base-button type="default" icon="fas fa-phone">Phone</base-button>
                        </a>
                        <a v-if="place.site" :href="place.site"
                           class="d-inline-block mb-2 mr-2 align-top" target="_blank">
                            <base-button type="default" icon="fas fa-link">Site</base-button>
                        </a>
                        <base-button type="primary" class="mb-2" icon="fas fa-edit"
                                     @click="edit_modal_show = true" v-if="place.is_owner">
                            Edit
                        </base-button>

                        <modal v-if="place.is_owner" :show.sync="edit_modal_show">
                            <h6 slot="header" class="modal-title" id="modal-title-default">Edit Place</h6>

                            <form role="form">
                                <div class="row">
                                    <div class="col-12">
                                        <base-input label="Name"
                                                    v-model="edit_modal.name.value"/>
                                    </div>
                                    <div class="col-12">
                                        <base-select label="Place Type"
                                                     :values="places_types"
                                                     v-model="edit_modal.place_type.value"/>
                                    </div>
                                    <div class="col-12">
                                        <base-textarea label="Description" v-model="edit_modal.description.value"/>
                                    </div>
                                    <div class="col-12">
                                        <base-input label="Address"
                                                    v-model="edit_modal.address.value"/>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <base-input label="Post Code"
                                                    v-model="edit_modal.postcode.value"/>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <base-input label="City"
                                                    v-model="edit_modal.city.value"/>
                                    </div>
                                    <div class="col-12">
                                        <base-input label="Country"
                                                    v-model="edit_modal.country.value"/>
                                    </div>
                                    <div class="col-12">
                                        <base-input label="Site"
                                                    v-model="edit_modal.site.value"/>
                                    </div>
                                    <div class="col-12">
                                        <base-input label="Email"
                                                    v-model="edit_modal.email.value"/>
                                    </div>
                                    <div class="col-12">
                                        <base-input label="Phone"
                                                    v-model="edit_modal.phone.value"/>
                                    </div>
                                </div>
                            </form>

                            <template slot="footer">
                                <base-button type="primary" @click="updatePlace">Save changes</base-button>
                                <base-button type="link" class="ml-auto" @click="edit_modal_show = false">
                                    Close
                                </base-button>
                            </template>
                        </modal>

                        <base-button type="danger" class="mb-2" icon="fas fa-trash"
                                     @click="deletePlace" v-if="place.is_owner">
                            Delete
                        </base-button>
                    </div>
                </div>
            </div>
        </base-header>

        <div class="container-fluid mt--7 mb-4">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card shadow border-0">
                        <l-map ref="myMap"
                               class="map-canvas"
                               style="height: 300px; z-index: 0;"
                               :zoom="zoom"
                               :center="center"
                               :options="mapOptions"
                               :min-zoom="2"
                               :max-bounds="maxBounds">
                            <l-tile-layer :url="url" :attribution="attribution"/>
                            <l-marker :lat-lng="[place.lat, place.lon]" v-for="place in places" v-bind:key="place.id">
                                <l-icon class-name="marker" :icon-anchor="[6, 6]" :icon-url="null">
                                    <div></div>
                                </l-icon>
                            </l-marker>
                        </l-map>
                    </div>
                </div>


                <div class="col-12 mt-5">
                    <h2>Reviews</h2>
                </div>

                <div class="col-12 mt-2">
                    <div class="list-group">
                        <div href="#" class="list-group-item" v-for="review in place.reviews" :key="review.id">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    Sent by: {{ review.owner.first_name }} {{ review.owner.last_name }}
                                </h5>
                            </div>
                            <p class="mb-1">{{ review.comment }}</p>
                            <vue-stars
                                    name="demo"
                                    char=""
                                    class="fa"
                                    :max="5"
                                    :value="review.rating"
                                    :readonly="true"
                                    shadow-color="#ffffff"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {latLng, latLngBounds} from "leaflet";
    import BaseSelect from "../components/BaseSelect";
    import BaseTextarea from "../components/BaseTextArea";
    import {VueStars} from "vue-stars";

    export default {
        components: {BaseTextarea, BaseSelect, VueStars},
        data() {
            return {
                zoom: 18,
                center: latLng(45.75, 4.85),
                url: 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png',
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                mapOptions: {
                    zoomSnap: 0.5,
                },
                place: {
                    name: '...',
                    description: '...',
                    place_type: {
                        name: '...',
                    },
                    reviews: [],
                },
                places: [],
                iconSize: 64,
                edit_modal_show: false,
                maxBounds: latLngBounds(),
                places_types: [],
                edit_modal: {
                    id: undefined,
                    name: {
                        value: '',
                    },
                    place_type: {
                        value: '',
                    },
                    description: {
                        value: '',
                    },
                    address: {
                        value: '',
                    },
                    postcode: {
                        value: '',
                    },
                    city: {
                        value: '',
                    },
                    country: {
                        value: '',
                    },
                    site: {
                        value: '',
                    },
                    email: {
                        value: '',
                    },
                    phone: {
                        value: '',
                    },
                },
            }
        },
        computed: {
            dynamicSize() {
                return [this.iconSize, this.iconSize * 1.15];
            },
            dynamicAnchor() {
                return [this.iconSize / 2, this.iconSize * 1.15];
            },
        },
        methods: {
            deletePlace() {
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                }).then(({value}) => {
                    if (value) {
                        this.axios
                            .delete(`/places`, {
                                params: {place_id: this.place.id},
                            })
                            .finally(() => {
                                this.$swal({
                                    title: 'Place deleted!',
                                    icon: 'success',
                                }).then(() => this.$router.push({name: 'places'}));
                            });
                    }
                });
            },
            updatePlace() {
                this.axios
                    .patch('/places', {
                        place_id: this.edit_modal.id,
                        place_type: parseInt(this.edit_modal.place_type.value),
                        name: this.edit_modal.name.value,
                        description: this.edit_modal.description.value,
                        address: this.edit_modal.address.value,
                        postcode: this.edit_modal.postcode.value,
                        city: this.edit_modal.city.value,
                        country: this.edit_modal.country.value,
                        site: this.edit_modal.site.value,
                        email: this.edit_modal.email.value,
                        phone: this.edit_modal.phone.value,
                    })
                    .then(({status, data}) => {
                        if (status === 200) {
                            this.edit_modal_show = false;
                            this.assignData(data);
                        }
                    });
            },
            getInfos() {
                this.axios
                    .get(`/places/${this.$route.params.id}/logged`)
                    .then(({data}) => this.assignData(data))
                    .catch(() => {
                        this.$router.replace({name: 'places'});
                    });

                this.axios
                    .get('/places-types')
                    .then(({data}) => {
                        this.places_types = data.map(data => [data.id, data.name]);
                    })
            },
            assignData(data) {
                this.place = data;
                this.places = [];
                this.places.push(this.place);
                this.center = latLng(data.lat, data.lon);
                this.maxBounds = latLngBounds(
                    [data.lat, data.lon],
                    [data.lat, data.lon],
                );

                this.edit_modal.id = data.id;
                this.edit_modal.name.value = data.name;
                this.edit_modal.place_type.value = data.place_type.id.toString();
                this.edit_modal.description.value = data.description;
                this.edit_modal.address.value = data.address;
                this.edit_modal.postcode.value = data.postcode;
                this.edit_modal.city.value = data.city;
                this.edit_modal.country.value = data.country;
                this.edit_modal.site.value = data.site;
                this.edit_modal.email.value = data.email;
                this.edit_modal.phone.value = data.phone;
            },
        },
        beforeMount() {
            this.getInfos();
        },
    }
</script>
<style>
    .marker {
        border-radius: 100%;
        background: white;

        animation: ease .3s fadeIn;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>
