<template>
    <div>
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8"></base-header>

        <div class="container-fluid mt--7 mb-4">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card shadow border-0">
                        <l-map ref="myMap"
                               class="map-canvas"
                               style="height: 700px; z-index: 0;"
                               :zoom.sync="zoom"
                               :center="center"
                               :options="mapOptions"
                               :min-zoom="2"
                               :max-bounds="maxBounds"
                               @ready="mapInit"
                               @update:bounds="newBounds">
                            <l-tile-layer :url="url" :attribution="attribution"/>
                            <l-marker :lat-lng="[place.lat, place.lon]" v-for="place in places" v-bind:key="place.id">
                                <l-icon class-name="marker" :icon-anchor="[6, 6]" :icon-url="null">
                                    <div></div>
                                </l-icon>
                                <l-popup>
                                    <h3 class="text-center">{{ place.name }}</h3>
                                    <div class="text-center">
                                        <router-link class="btn btn-sm btn-primary text-white"
                                                     :to="{ name: 'place', params: { id: place.id }}">
                                            <i class="fas fa-info mr-2"></i>
                                            Infos
                                        </router-link>
                                    </div>
                                </l-popup>
                            </l-marker>
                        </l-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {latLng, latLngBounds} from "leaflet";

    export default {
        data() {
            return {
                zoom: 12,
                center: latLng(45.75, 4.85),
                url: 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png',
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                mapOptions: {
                    zoomSnap: 0.5
                },
                maxBounds: latLngBounds([
                    [90, 180],
                    [-90, -180]
                ]),
                places: [],
                iconSize: 64,
            }
        },
        computed: {
            dynamicSize() {
                return [this.iconSize, this.iconSize * 1.15];
            },
            dynamicAnchor() {
                return [this.iconSize / 2, this.iconSize * 1.15];
            },
        },
        methods: {
            mapInit() {
                const {_southWest: {lat: lat_min, lng: lon_min}, _northEast: {lat: lat_max, lng: lon_max}} = this.$refs['myMap'].mapObject.getBounds();
                this.axios
                    .get('/places', {params: {lat_min, lat_max, lon_min, lon_max}})
                    .then(({data}) => {
                        this.places = data.places;
                    });
            },
            newBounds({_southWest: {lat: lat_min, lng: lon_min}, _northEast: {lat: lat_max, lng: lon_max}}) {
                this.axios
                    .get('/places', {params: {lat_min, lat_max, lon_min, lon_max}})
                    .then(({data}) => {
                        this.places = data.places;
                    });
            },
        },
    }
</script>
<style>
    .marker {
        border-radius: 100%;
        background: white;

        animation: ease .3s fadeIn;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>
