<template>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Sign Up</small>
                    </div>
                    <form role="form">
                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Username"
                                    addon-left-icon="fas fa-signature"
                                    v-model="model.username"
                                    @focus="resetError('username')"
                                    :valid="modelErrors.username.bool"
                                    :error="modelErrors.username.text">
                        </base-input>

                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Email"
                                    addon-left-icon="ni ni-email-83"
                                    v-model="model.email"
                                    @focus="resetError('email')"
                                    :valid="modelErrors.email.bool"
                                    :error="modelErrors.email.text">
                        </base-input>

                        <base-input class="input-group-alternative mb-3"
                                    placeholder="First name"
                                    addon-left-icon="ni ni-circle-08"
                                    v-model="model.first_name"
                                    @focus="resetError('first_name')"
                                    :valid="modelErrors.first_name.bool"
                                    :error="modelErrors.first_name.text">
                        </base-input>

                        <base-input class="input-group-alternative mb-3"
                                    placeholder="Last name"
                                    addon-left-icon="ni ni-circle-08"
                                    v-model="model.last_name"
                                    @focus="resetError('last_name')"
                                    :valid="modelErrors.last_name.bool"
                                    :error="modelErrors.last_name.text">
                        </base-input>

                        <base-input class="input-group-alternative"
                                    placeholder="Password"
                                    type="password"
                                    addon-left-icon="ni ni-lock-circle-open"
                                    v-model="model.password"
                                    @focus="resetError('password')"
                                    :valid="modelErrors.password.bool"
                                    :error="modelErrors.password.text">
                        </base-input>

                        <div class="row my-4">
                            <div class="col-12">
                                <base-checkbox class="custom-control-alternative">
                                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                </base-checkbox>
                            </div>
                        </div>
                        <div class="text-center">
                            <base-button type="primary" class="my-4" @click="register">Create account</base-button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="#" class="text-light">
                        <small>Forgot password?</small>
                    </a>
                </div>
                <div class="col-6 text-right">
                    <router-link to="/login" class="text-light">
                        <small>Login into your account</small>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'register',
        data() {
            return {
                model: {
                    username: '',
                    email: '',
                    first_name: '',
                    last_name: '',
                    password: '',
                },
                modelErrors: {
                    username: {
                        bool: undefined,
                        text: undefined,
                    },
                    email: {
                        bool: undefined,
                        text: undefined,
                    },
                    first_name: {
                        bool: undefined,
                        text: undefined,
                    },
                    last_name: {
                        bool: undefined,
                        text: undefined,
                    },
                    password: {
                        bool: undefined,
                        text: undefined,
                    },
                },
            }
        },
        methods: {
            resetError(model) {
                this.modelErrors[model] = {
                    bool: undefined,
                    text: undefined,
                };
            },
            register() {
                const data = {
                    username: this.model.username,
                    email: this.model.email,
                    first_name: this.model.first_name,
                    last_name: this.model.last_name,
                    password: this.model.password,
                };

                this.axios.post('/auth/register', data)
                    .then(async (data) => {
                        const {data: {token}} = data;
                        this.$store.commit('setAccessToken', token);

                        await this.getCurrentUserData();
                    })
                    .catch(reason => {
                        const {response: {data: {errors}}} = reason;

                        Object.keys(errors)
                            .forEach(key => {
                                const data = errors[key];

                                this.modelErrors[key] = {
                                    bool: false,
                                    text: data[0],
                                };
                            });
                    })
            },
            async getCurrentUserData() {
                return this.axios.get('/user/me')
                    .then(({data}) => {
                        this.$store.commit('setUserInfos', data);

                        this.$router.push('dashboard');
                    });
            },
        },
    }
</script>
<style>
</style>
