<template>
    <div>
        <base-header class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
                     style="min-height: 300px; background-size: cover; background-position: center top;">
            <span class="mask bg-gradient-success opacity-8"></span>
        </base-header>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="img/theme/team-4-800x800.jpg" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between"></div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5"></div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    {{first_name}} {{last_name}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 order-xl-1">
                    <card shadow type="secondary">
                        <div slot="header" class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My account</h3>
                            </div>
                        </div>
                        <template>
                            <form @submit.prevent>
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Username"
                                                        placeholder="Username"
                                                        input-classes="form-control-alternative"
                                                        :error="modalErrors.username"
                                                        @keydown="modalErrors.username = ''"
                                                        v-model="model.username"/>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Email address"
                                                        placeholder="email@example.com"
                                                        input-classes="form-control-alternative"
                                                        :error="modalErrors.email"
                                                        @keydown="modalErrors.email = ''"
                                                        v-model="model.email"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="First name"
                                                        placeholder="First name"
                                                        input-classes="form-control-alternative"
                                                        :error="modalErrors.first_name"
                                                        @keydown="modalErrors.first_name = ''"
                                                        v-model="model.firstName"/>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Last name"
                                                        placeholder="Last name"
                                                        input-classes="form-control-alternative"
                                                        :error="modalErrors.last_name"
                                                        @keydown="modalErrors.last_name = ''"
                                                        v-model="model.lastName"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-primary" @click="updateProfile">Update Profile
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </template>
                        <template>
                            <form @submit.prevent>
                                <h6 class="heading-small text-muted mb-4">Password</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="New Password"
                                                        placeholder="New Password"
                                                        input-classes="form-control-alternative"
                                                        type="password"
                                                        :error="modalErrors.password"
                                                        @keydown="modalErrors.password = ''"
                                                        v-model="model.newPassword"/>
                                        </div>
                                        <div class="col-lg-6">
                                            <base-input alternative=""
                                                        label="Repeat Password"
                                                        placeholder="Repeat Password"
                                                        input-classes="form-control-alternative"
                                                        type="password"
                                                        :error="modalErrors.repeatPassword"
                                                        @keydown="modalErrors.repeatPassword = ''"
                                                        v-model="model.repeatPassword"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-primary" @click="changePassword">Update Password</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </template>
                    </card>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapState} from 'vuex';

    export default {
        name: 'user-profile',
        data() {
            return {
                model: {
                    username: '',
                    email: '',
                    firstName: '',
                    lastName: '',
                    oldPassword: '',
                    newPassword: '',
                    repeatPassword: '',
                },
                modalErrors: {
                    username: '',
                    email: '',
                    first_name: '',
                    last_name: '',
                    password: '',
                    repeatPassword: '',
                },
            }
        },
        computed: {
            ...mapState({
                first_name: state => state.user_infos.first_name,
                last_name: state => state.user_infos.last_name,
            }),
        },
        methods: {
            updateProfile() {
                this.axios
                    .patch('/user', {
                        username: this.model.username,
                        email: this.model.email,
                        first_name: this.model.firstName,
                        last_name: this.model.lastName,
                    })
                    .then(({data}) => {
                        this.$store.commit('setUserInfos', data);
                        this.bindModalData();
                    })
                    .catch(({response: {data: {errors}}}) => {
                        Object.keys(errors).forEach(err => this.$set(this.modalErrors, err, errors[err][0]))
                    });
            },
            changePassword() {
                const {newPassword: password, repeatPassword} = this.model;
                if (password === repeatPassword) {
                    this.axios
                        .patch('/user', {
                            password: password,
                        })
                        .then(({data}) => {
                            this.model.newPassword = '';
                            this.model.repeatPassword = '';
                        })
                        .catch(({response: {data: {errors}}}) => {
                            Object.keys(errors).forEach(err => this.$set(this.modalErrors, err, errors[err][0]))
                        });
                } else this.modalErrors.repeatPassword = `Passwords don't match.`;
            },
            bindModalData() {
                this.model.username = this.$store.state.user_infos.username;
                this.model.email = this.$store.state.user_infos.email;
                this.model.firstName = this.$store.state.user_infos.first_name;
                this.model.lastName = this.$store.state.user_infos.last_name;
                this.model.username = this.$store.state.user_infos.username;
            },
        },
        beforeMount() {
            this.bindModalData();
        },
    };
</script>
<style></style>
