<template>
    <div id="app">
        <notifications></notifications>
        <router-view/>
    </div>
</template>

<script>
    export default {
        methods: {
            async getCurrentUserData() {
                return this.axios.get('/user/me')
                    .then(({data}) => {
                        this.$store.commit('setUserInfos', data);

                        this.$router.push('dashboard');
                    });
            },
        },
        mounted() {
            this.getCurrentUserData();
        },
    }
</script>
