<template>
    <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
        <side-bar
                :background-color="sidebarBackground"
                short-title="Argon"
                title="Argon">
            <template slot="links">
                <sidebar-item :link="{name: 'Dashboard', icon: 'ni ni-tv-2 text-primary', path: '/dashboard'}"
                              v-if="user_type === 3"/>
                <sidebar-item :link="{name: 'Places', icon: 'ni ni-pin-3 text-orange', path: '/places'}"/>
                <sidebar-item :link="{name: 'Icons', icon: 'ni ni-planet text-blue', path: '/icons'}" v-if="false"/>
                <sidebar-item :link="{name: 'User Profile', icon: 'ni ni-single-02 text-green', path: '/profile'}"
                              v-if="false"/>
                <sidebar-item :link="{name: 'Tables', icon: 'ni ni-bullet-list-67 text-red', path: '/tables'}"
                              v-if="false"/>
                <sidebar-item :link="{name: 'Login', icon: 'ni ni-key-25 text-info', path: '/login'}" v-if="false"/>
                <sidebar-item :link="{name: 'Register', icon: 'ni ni-circle-08 text-pink', path: '/register'}"
                              v-if="false"/>
            </template>
        </side-bar>
        <div class="main-content" :data="sidebarBackground">
            <dashboard-navbar></dashboard-navbar>

            <div @click="toggleSidebar">
                <fade-transition :duration="200" origin="center top" mode="out-in">
                    <!-- your content here -->
                    <router-view></router-view>
                </fade-transition>
                <content-footer v-if="!$route.meta.hideFooter"></content-footer>
            </div>
        </div>
    </div>
</template>
<script>
    import DashboardNavbar from './DashboardNavbar.vue';
    import ContentFooter from './ContentFooter.vue';
    import {FadeTransition} from 'vue2-transitions';
    import {mapState} from "vuex";

    export default {
        components: {
            DashboardNavbar,
            ContentFooter,
            FadeTransition,
        },
        data() {
            return {
                sidebarBackground: 'vue', //vue|blue|orange|green|red|primary
            };
        },
        computed: {
            ...mapState({
                user_type: state => state.user_infos.user_type.id,
            }),
        },
        methods: {
            toggleSidebar() {
                if (this.$sidebar.showSidebar) {
                    this.$sidebar.displaySidebar(false);
                }
            },
        },
    };
</script>
<style lang="scss">
</style>
